
        
        .textwrapper {
            display: table;
        }
        
        
        .listitem {
            width: 100%;
            float: left;
            position: relative;
            height: 25%;
        }
        
        .listitemtextwrapper {
            position: relative;
            left: 10%;
            width: 80%;
            top: 50%;
            transform: translate(0, -50%);
        }
        
        .seperator {
            height: 2px;
            position: relative;
            left: 8%;
            width: 84%;
            top: 99.5%;
            background: white;
            opacity: 0.4;
        }

        .buzzhome-moreIcon{
                height: 35px;
                top: 5px;
                width: 30px;
                position: relative;
                right: 2px;
        }
        
        .buzzhome-smallLabel {
            color: #b2b2b2;
            font-family: "RobotoCondensed-Light";
            font-size: 16pt;
        }
        
        
        .buzzhome-SmallListIndicator {
            height: 40px;
            width: 40px;
        }