
		
		
/*++++++++++++++++++++++Containers++++++++++++++++*/
	







.buzzhome-wetter-Root {
	background:#FFFFFF;
	width:670px;
	height:335px;
	box-shadow:0px 0px 15px rgba(165, 124, 52, 0.20);
	}

.buzzhome-wandthermostat-Root {
	background:#FFFFFF;
	width:670px;
	height:335px;
	box-shadow:0px 0px 15px rgba(165, 124, 52, 0.20);
	}	

.buzzhome-wateringventil-Root {
	background:#FFFFFF;
	width:670px;
	height:335px;
	box-shadow:0px 0px 15px rgba(165, 124, 52, 0.20);
	}	










